# Copia este archivo a .env.local y reemplaza el valor por tu API Key real.
# VITE_TMDB_API_KEY=123456789abcdef
VITE_TMDB_API_KEY=PEGAR_API_KEY_DE_TMDB_ACA

# Idioma de los resultados.
# Espanol latino: es-MX
VITE_TMDB_LANGUAGE=es-MX

# Region para priorizar algunos datos regionales.
# Mexico: MX
VITE_TMDB_REGION=MX
